<nav class="navbar navbar-default navbar-static-top eeh-navigation" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="isNavbarCollapsed = !isNavbarCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a ng-if="_navbarBrand.state && !_navbarBrand.href" class="navbar-brand" ui-sref="{{ _navbarBrand.state }}">
            <span ng-include="'template/eeh-navigation/navbar-brand.html'"></span>
        </a>
        <a ng-if="!_navbarBrand.state && _navbarBrand.href" class="navbar-brand" ng-href="{{ _navbarBrand.href }}" target="{{item.target ? item.target : '_self'}}">
            <span ng-include="'template/eeh-navigation/navbar-brand.html'"></span>
        </a>
    </div>
    <ul class="nav navbar-top-links navbar-left">
        <li ng-repeat="item in leftNavbarMenuItems | orderBy:'weight'"
            ng-include="'template/eeh-navigation/navbar-menu-item.html'"
            ng-if="item._isVisible()"
            class="dropdown"></li>
    </ul>
    <ul class="nav navbar-top-links navbar-right">
        <li ng-repeat="item in rightNavbarMenuItems | orderBy:'weight'"
            ng-include="'template/eeh-navigation/navbar-menu-item.html'"
            ng-if="item._isVisible()"
            class="dropdown"></li>
    </ul>
</nav>

<script type="text/ng-template" id="template/eeh-navigation/navbar-brand.html">
    <img ng-if="_navbarBrand.src" ng-src="{{_navbarBrand.src}}">
    <span ng-if="_navbarBrand.text">{{ _navbarBrand.text|translate }}</span>
</script>

<script type="text/ng-template" id="template/eeh-navigation/navbar-menu-item.html">
    <a ng-if="!item.isDivider && item.state" ui-sref="{{ item.state }}" ui-sref-active="active" eeh-active-parent-menu-item>
        <span ng-include="'template/eeh-navigation/menu-item-content.html'"></span>
    </a>
    <a ng-if="item.click" ng-click="item.click()">
        <span ng-include="'template/eeh-navigation/menu-item-content.html'" eeh-active-parent-menu-item></span>
    </a>
    <a ng-if="item.href" ng-href="{{item.href}}" target="{{item.target ? item.target : '_self'}}">
        <span ng-include="'template/eeh-navigation/menu-item-content.html'" eeh-active-parent-menu-item></span>
    </a>
    <a ng-if="item.hasChildren()" class="dropdown-toggle" eeh-is-active-menu-item>
        <span class="fa fa-fw {{ item.iconClass }}"></span>
        <span> {{ item.text|translate }}</span>
        <span class="fa fa-caret-down"></span>
    </a>
    <ul ng-if="item.hasChildren()" class="dropdown-menu">
        <li ng-repeat="item in item.children()|orderBy:'weight'"
            ng-class="{'divider': item.isDivider}"
            ng-include="'template/eeh-navigation/navbar-menu-item.html'"
            ng-if="item._isVisible()"></li>
    </ul>
</script>

<script type="text/ng-template" id="template/eeh-navigation/menu-item-content.html">
    <span class="menu-item-icon fa fa-fw {{ item.iconClass}}"></span>
    <span class="menu-item-text"> {{ item.text|translate }}</span>
</script>
