.improve-docs, .view-source {
    display: none;
}

.prettyprint {
    padding: 1em !important;
    border: solid 1px #DDDDDD;
}

.page-header {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #f28d1a;
}

.naked-list {
    list-style: none;
}