@import "../variables";
.eeh-navigation-sidebar {
  border-radius: 0;
  border-top: none;
  border-right: none;
  border-left: none;

  > .navbar-collapse {
    padding-right: 0;
    padding-left: 0;

    > .navbar-collapse > ul.sidebar-nav {
      /* Indent second level menu items */
      > li > ul > li > a {
        padding-left: 37px;
      }
      /* Indent third level menu items */
      > li > ul > li > ul > li > a {
        padding-left: 52px;
      }
    }
  }

  .navbar-default > .active {
    background-color: $menu-item-bg;
    color: $menu-item-active-color;
  }

  .sidebar-search {
    padding: 15px;
  }

  /* Triangle added to active menu item in sidebar */
  ul.sidebar-nav li.active:after {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: 100%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left-color: #eee;
  }


  .sidebar-arrow {
    line-height: 1.5em;
  }
}

@media(min-width: 768px) {
  .eeh-navigation-sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
  }

  .eeh-navigation-sidebar.sidebar-text-collapsed {
    width: 50px;
  }

  #eeh-navigation-page-wrapper.sidebar-text-collapsed {
    margin-left: 50px;
  }
}