<nav class="navbar navbar-default eeh-navigation eeh-navigation-sidebar" role="navigation"
    ng-class="navClass">
    <div class="navbar-collapse" collapse="isNavbarCollapsed">
        <ul class="nav sidebar-nav">
            <li class="sidebar-search" ng-if="searchInputIsVisible">
                <eeh-navigation-search-input class="sidebar-search-input"
                                             icon-class="searchInputIconClass"
                                             submit="searchInputSubmit"
                                             is-collapsed="sidebarIsCollapsed"></eeh-navigation-search-input>
            </li>
            <li ng-repeat="item in sidebarMenuItems | orderBy:'weight'"
                ng-include="'template/eeh-navigation/sidebar-menu-item.html'"
                ng-class="{ 'leaf': !item.hasChildren() }"
                ng-if="item._isVisible()"
                ng-click="topLevelMenuItemClickHandler(item)"fire
                ui-sref-active-eq="active"
                eeh-navigation-active-menu-item="item"></li>
            <li ng-click="toggleSidebarTextCollapse()" ng-if="sidebarCollapsedButtonIsVisible && isSidebarVisible()">
                <a>
                    <span class="icon-fw {{ iconBaseClass() }}" ng-class="sidebarIsCollapsed ? sidebarCollapsedIconClass : sidebarExpandedIconClass"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div id="eeh-navigation-page-wrapper" ng-class="{ 'sidebar-invisible': !isSidebarVisible() }">
    <div class="row">
        <div class="col-lg-12">
            <div ng-transclude></div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="template/eeh-navigation/sidebar-menu-item.html">
    <a ng-if="item.state" ui-sref="{{item.state}}">
        <span eeh-navigation-menu-item-content="item"></span>
    </a>
    <a ng-if="item.click" ng-click="item.click()">
        <span eeh-navigation-menu-item-content="item"></span>
    </a>
    <a ng-if="item.href" ng-href="{{item.href}}" target="{{item.target ? item.target : '_self'}}">
        <span eeh-navigation-menu-item-content="item"></span>
    </a>
    <a ng-if="!item.state && item.hasChildren()"
       ng-click="item.isCollapsed = !item.isCollapsed">
        <span eeh-navigation-menu-item-content="item"></span>
        <span class="navbar-right sidebar-arrow icon-fw {{ iconBaseClass() }}"
              ng-class="item.isCollapsed ? menuItemCollapsedIconClass : menuItemExpandedIconClass"></span>
    </a>
    <ul ng-if="!item.state && item.hasChildren()" collapse="item.isCollapsed"
        ng-class="{ 'text-collapsed': sidebarIsCollapsed }"
        class="nav sidebar-nav sidebar-nav-nested">
        <li ng-repeat="item in item.children()"
            ng-include="'template/eeh-navigation/sidebar-menu-item.html'"
            ng-class="{ 'leaf': !item.hasChildren() }"
            ng-if="item._isVisible()"
            ui-sref-active-eq="active"
            eeh-navigation-active-menu-item="item"></li>
    </ul>
</script>
