<a ng-if="state && !href && text"
   class="navbar-brand"
   ng-click="click()"
   ui-sref="{{ state }}">
    <span ng-include="'template/eeh-navigation/navbar-brand-content.html'"></span>
</a>

<a ng-if="!state && href && text"
   class="navbar-brand"
   ng-click="click()"
   ng-href="{{ href }}"
   target="{{ target ? target : '_self'}}">
    <span ng-include="'template/eeh-navigation/navbar-brand-content.html'"></span>
</a>

<span ng-if="!state && !href && text"
      ng-click="click()"
      class="navbar-brand">
    <span ng-include="'template/eeh-navigation/navbar-brand-content.html'"></span>
</span>

<script type="text/ng-template" id="template/eeh-navigation/navbar-brand-content.html">
    <img ng-if="src" ng-src="{{ src }}">
    <span ng-if="text">{{ text|translate }}</span>
</script>

