<nav class="navbar eeh-navigation eeh-navigation-navbar"
     ng-class="navClass"
     role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="isNavbarCollapsed = !isNavbarCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <eeh-navigation-navbar-brand text="brandText"
                                     state="brandState"
                                     href="brandHref"
                                     target="brandTarget"
                                     src="brandSrc"
                                     click="brandClick"></eeh-navigation-navbar-brand>
    </div>
    <div collapse="isNavbarCollapsed" class="navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
            <li ng-repeat="item in leftNavbarMenuItems | orderBy:'weight'"
                ng-include="'template/eeh-navigation/navbar-menu-item.html'"
                ng-if="item._isVisible()"
                dropdown
                ui-sref-active-eq="active"
                eeh-navigation-active-menu-item="item"></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ng-repeat="item in rightNavbarMenuItems | orderBy:'weight'"
                ng-include="'template/eeh-navigation/navbar-menu-item.html'"
                ng-if="item._isVisible()"
                dropdown
                ui-sref-active-eq="active"
                eeh-navigation-active-menu-item="item"></li>
        </ul>
    </div>
</nav>

<script type="text/ng-template" id="template/eeh-navigation/navbar-menu-item.html">
    <a ng-if="!item.isDivider && item.state" ui-sref="{{ item.state }}">
        <span eeh-navigation-menu-item-content="item"></span>
    </a>
    <a ng-if="item.click" ng-click="item.click()">
        <span eeh-navigation-menu-item-content="item"></span>
    </a>
    <a ng-if="item.href" ng-href="{{item.href}}" target="{{item.target ? item.target : '_self'}}">
        <span eeh-navigation-menu-item-content="item"></span>
    </a>
    <a ng-if="item.hasChildren()" dropdown-toggle>
        <span class="icon-fw {{ iconBaseClass() }} {{ item.iconClass }}"></span>
        <span> {{ item.text|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul ng-if="item.hasChildren()" class="dropdown-menu">
        <li ng-repeat="item in item.children()|orderBy:'weight'"
            ng-class="{'divider': item.isDivider}"
            ng-include="'template/eeh-navigation/navbar-menu-item.html'"
            ng-if="item._isVisible()"
            ui-sref-active-eq="active"></li>
    </ul>
</script>
