// Type
$headings-font-weight: 600px !default;
$font-size-h1: 30px !default;
$font-size-h2: 26px !default;
$font-size-h3: 14px !default;
$font-size-h4: 12px !default;

// Colors
$brand-primary: #C00;

// Jumbotron
$jumbotron-color:                #FFFFFF !default;
$jumbotron-bg:                   #222222 !default;

// Logo
$logo-fill: #DDDDDD !default;

// Navbar Basic
$navbar-default-color:             #000 !default;
$navbar-default-bg:                $brand-primary;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-border:            none !default;

// Navbar links
$navbar-default-link-color:                #FFF !default;
$navbar-default-link-hover-color:          #FFF !default;
$navbar-default-link-hover-bg:             darken($navbar-default-bg, 10)  !default;
$navbar-default-link-active-color:         #FFF !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 10) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         $navbar-default-link-color !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           $navbar-default-link-active-bg !default;
$navbar-default-toggle-icon-bar-bg:        #FFF !default;
$navbar-default-toggle-border-color:       #FFF !default;
