// Type
$headings-font-weight: 600px !default;
$font-size-h1: 30px !default;
$font-size-h2: 26px !default;
$font-size-h3: 14px !default;
$font-size-h4: 12px !default;

// Colors
$brand-primary: #C00;

// Jumbotron
$jumbotron-color:                #FFFFFF !default;
$jumbotron-bg:                   #222222 !default;

// Logo
$logo-fill: #FFFFFF !default;
