<nav class="navbar navbar-default navbar-static-top eeh-navigation" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="isNavbarCollapsed = !isNavbarCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a ng-if="_navbarBrand.state && !_navbarBrand.href" class="navbar-brand" ui-sref="{{ _navbarBrand.state }}">
            <span ng-include="'template/eeh-navigation/navbar-brand.html'"></span>
        </a>
        <a ng-if="!_navbarBrand.state && _navbarBrand.href" class="navbar-brand" ng-href="{{ _navbarBrand.href }}" target="{{item.target ? item.target : '_self'}}">
            <span ng-include="'template/eeh-navigation/navbar-brand.html'"></span>
        </a>
    </div>
    <ul class="nav navbar-top-links navbar-left">
        <li ng-repeat="item in leftNavbarMenuItems | orderBy:'weight'"
            ng-include="'template/eeh-navigation/navbar-menu-item.html'"
            ng-if="item._isVisible()"
            class="dropdown"></li>
    </ul>
    <ul class="nav navbar-top-links navbar-right">
        <li ng-repeat="item in rightNavbarMenuItems | orderBy:'weight'"
            ng-include="'template/eeh-navigation/navbar-menu-item.html'"
            ng-if="item._isVisible()"
            class="dropdown"></li>
    </ul>
    <div collapse="isNavbarCollapsed">
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav">
                    <li class="sidebar-search" ng-show="!_sidebarTextCollapse.isCollapsed && _sidebarSearch.isVisible">
                        <form ng-submit="_sidebarSearch.submit()">
                            <div class="input-group">
                                <input type="text" class="form-control search-input" placeholder="{{'Search'|translate}}"
                                       ng-model="_sidebarSearch.model">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </li>
                    <li ng-repeat="item in sidebarMenuItems | orderBy:'weight'"
                        ng-include="'template/eeh-navigation/sidebar-menu-item.html'"
                        ng-if="item._isVisible()"></li>
                    <li ng-click="toggleSidebarTextCollapse()" ng-if="_sidebarTextCollapse.isVisible && isSidebarVisible()">
                        <a>
                            <span class="fa fa-fw"
                                  ng-class="_sidebarTextCollapse.isCollapsed ? 'fa-arrow-right' : 'fa-arrow-left'"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div id="eeh-navigation-page-wrapper" ng-class="{ 'sidebar-invisible': !isSidebarVisible() }">
    <div class="row">
        <div class="col-lg-12">
            <div ng-transclude></div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="template/eeh-navigation/navbar-brand.html">
    <img ng-if="_navbarBrand.src" ng-src="{{_navbarBrand.src}}">
    <span ng-if="_navbarBrand.text">{{ _navbarBrand.text|translate }}</span>
</script>

<script type="text/ng-template" id="template/eeh-navigation/navbar-menu-item.html">
    <a ng-if="!item.isDivider && item.state" ui-sref="{{ item.state }}" ui-sref-active="active" eeh-active-parent-menu-item>
        <span ng-include="'template/eeh-navigation/menu-item-content.html'"></span>
    </a>
    <a ng-if="item.click" ng-click="item.click()">
        <span ng-include="'template/eeh-navigation/menu-item-content.html'" eeh-active-parent-menu-item></span>
    </a>
    <a ng-if="item.href" ng-href="{{item.href}}" target="{{item.target ? item.target : '_self'}}">
        <span ng-include="'template/eeh-navigation/menu-item-content.html'" eeh-active-parent-menu-item></span>
    </a>
    <a ng-if="item.hasChildren()" class="dropdown-toggle" eeh-is-active-menu-item>
        <span class="fa fa-fw {{ item.iconClass }}"></span>
        <span> {{ item.text|translate }}</span>
        <span class="fa fa-caret-down"></span>
    </a>
    <ul ng-if="item.hasChildren()" class="dropdown-menu">
        <li ng-repeat="item in item.children()|orderBy:'weight'"
            ng-class="{'divider': item.isDivider}"
            ng-include="'template/eeh-navigation/navbar-menu-item.html'"
            ng-if="item._isVisible()"></li>
    </ul>
</script>

<script type="text/ng-template" id="template/eeh-navigation/sidebar-menu-item.html">
    <a ng-if="item.state" ui-sref="{{item.state}}" ui-sref-active="active">
        <span ng-include="'template/eeh-navigation/menu-item-content.html'"></span>
    </a>
    <a ng-if="item.click" ng-click="item.click()">
        <span ng-include="'template/eeh-navigation/menu-item-content.html'"></span>
    </a>
    <a ng-if="item.href" ng-href="{{item.href}}" target="{{item.target ? item.target : '_self'}}">
        <span ng-include="'template/eeh-navigation/menu-item-content.html'"></span>
    </a>
    <a ng-if="!item.state && item.hasChildren() && !_sidebarTextCollapse.isCollapsed"
       ng-click="item.isCollapsed = !item.isCollapsed">
        <span ng-include="'template/eeh-navigation/menu-item-content.html'"></span>
        <span class="navbar-right sidebar-arrow fa fa-fw"
              ng-class="item.isCollapsed ? 'fa-chevron-left' : 'fa-chevron-down'"></span>
    </a>
    <ul ng-if="!item.state && item.hasChildren() && !_sidebarTextCollapse.isCollapsed" collapse="item.isCollapsed" class="nav">
        <li ng-repeat="item in item.children()"
            ng-include="'template/eeh-navigation/sidebar-menu-item.html'"
            ng-if="item._isVisible()"></li>
    </ul>
</script>

<script type="text/ng-template" id="template/eeh-navigation/menu-item-content.html">
    <span class="menu-item-icon fa fa-fw {{ item.iconClass}}"></span>
    <span class="menu-item-text"> {{ item.text|translate }}</span>
</script>
