<nav class="navbar navbar-default navbar-static-top eeh-navigation" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="isNavbarCollapsed = !isNavbarCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a ng-if="navbarBrand.state" class="navbar-brand" ui-sref="{{ navbarBrand.state }}" href="#">{{ navbarBrand.text }}</a>
    </div>

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown" ng-repeat="dropdown in navbarDropdowns">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <span class="fa fa-user fa-fw"></span>
                <span> {{ dropdown.text }}</span>
                <span class="fa fa-caret-down"></span>
            </a>
            <ul class="dropdown-menu">
                <li ng-repeat="item in dropdown.children" ng-class="{'divider': item.isDivider}">
                    <a ng-if="!item.isDivider && item.state"
                       ui-sref="{{ item.state }}">
                        <span ng-include="'template/eeh-navigation/menu-item-content.html'"></span>
                    </a>
                    <a ng-if="item.click" ng-click="item.click()">
                        <span ng-include="'template/eeh-navigation/menu-item-content.html'"></span>
                    </a>
                    <a ng-if="item.href" ng-href="{{item.href}}">
                        <span ng-include="'template/eeh-navigation/menu-item-content.html'"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <div collapse="isNavbarCollapsed">
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                        </div>
                    </li>
                    <li ng-repeat="item in items" ng-include="'template/eeh-navigation/sidebar-menu-item.html'"></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div id="eeh-navigation-page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div ng-transclude></div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="template/eeh-navigation/sidebar-menu-item.html">
    <a ng-if="item.state" ui-sref="{{item.state}}" ui-sref-active="active">
        <span ng-include="'template/eeh-navigation/menu-item-content.html'"></span>
    </a>
    <a ng-if="item.click" ng-click="item.click()">
        <span ng-include="'template/eeh-navigation/menu-item-content.html'"></span>
    </a>
    <a ng-if="item.href" ng-href="{{item.href}}">
        <span ng-include="'template/eeh-navigation/menu-item-content.html'"></span>
    </a>
    <a ng-if="!item.state && item.children"
       ng-click="item.isCollapsed = !item.isCollapsed">
        <span ng-include="'template/eeh-navigation/menu-item-content.html'"></span>
        <span class="navbar-right sidebar-arrow fa fa-fw"
              ng-class="item.isCollapsed ? 'fa-chevron-left' : 'fa-chevron-down'"></span>
    </a>
    <ul ng-if="!item.state && item.children" collapse="item.isCollapsed" class="nav">
        <li ng-repeat="item in item.children" ng-include="'template/eeh-navigation/sidebar-menu-item.html'"></li>
    </ul>
</script>

<script type="text/ng-template" id="template/eeh-navigation/menu-item-content.html">
    <span class="fa fa-fw {{ item.iconClass}}"></span>
    <span class="menu-item-text"> {{ item.text }}</span>
</script>